body,p,h1 {
  font-family: 'Roboto', sans-serif;
  color: #505050;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  text-align: center;
}

.main-nav {
  background-color: #eeeeee;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.main-nav__wrapper {
  position: relative;
  padding: 20px;
}

.logo h1 {
  font-size: 26px;
  line-height: 30px;
  text-transform: uppercase;
  color: #505050;
}

.logo p {
  font-size: 12px;
}

.main-nav__toggler {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 30px;
  width: 30px;
  padding: 0;
  font-size: 0;
  border: none;
  background-color: transparent;
}

.main-nav--opened .main-nav__toggler::before,
.main-nav--opened .main-nav__toggler::after {
  content: "";
  display: block;
  position: absolute;
  top: 13px;
  right: 0;
  width: 25px;
  height: 3px;
  background-color: #505050;
  border-radius: 1px;
}

.main-nav--opened .main-nav__toggler::after {
  transform: rotate(45deg);
}

.main-nav--opened .main-nav__toggler::before {
  transform: rotate(-45deg);
}

.main-nav--closed .main-nav__toggler::after {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  right: 0;
  width: 30px;
  height: 3px;
  background-color: #505050;
  border-radius: 1px;
  box-shadow: 0 6px 0 0 #505050,
              0 12px 0 0 #505050;
}

.main-nav--closed .main-nav__list {
  display: none;
}

.main-nav__list-item a {
  display: inline-block;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #505050;
  padding-top: 10px;
  padding-bottom: 10px; 
  border-bottom: 1px solid #8f8d8d;
  border-top: 1px solid #cccaca;
}

.main-nav__list-item a:hover {
  opacity: 0.7;
}

.main-nav__list-item a:active {
  opacity: 0.2;
}

.main-nav__list {
  border-bottom: 1px solid #cccaca;
  border-top: 1px solid #8f8d8d;
}

.main-title {
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
  }

.foto-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: 320px;

  margin-top: 20px;
}

.foto-main img {
  margin-bottom: 20px;
}

.foto-main img {
    width: 90px;
    height: 60px;
  }

  .foto-main .dasha {
    width: 120px;
    height: 120px;
  }

.video {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video__item {
  width: 300px;
  margin-bottom: 20px;
  border: 2px solid #eeeeee;
}

iframe {
  background-color: #000;
}

.video__item p {
  font-weight: 700;
  padding: 10px;
}

.dresser span {
  font-size: 12px;
  color: grey;
}

.dresser {
  font-size: 14px;
  color: black;
}

/*.demonstrations {  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.demonstrations a {
  margin-bottom: 20px;
  border: 2px solid #eeeeee;
  cursor: pointer;
  text-decoration: none;
}
.demonstrations a img { 
  width: 300px;
  height: 200px;
}

.demonstrations a p {
  padding: 10px;
}

.demonstrations .rightmost { 
  margin-right: 0; 
}*/

@media (min-width: 768px) {

  .container {
  width: 708px;
  padding: 0 30px;
  }

  .main-nav__wrapper {
  padding: 20px 0;
  }

  .logo h1 {
    font-size: 30px;
  }

  .logo p {
    font-size: 14px;
  }

  .main-nav__list-item a {
    font-size: 18px;
  }

  .main-nav__list-item a:hover {
    opacity: 1;
    border-bottom: 2px solid #505050;
  }

  .main-nav__list-item a:active {
    opacity: 0.3;
  }

  .main-nav__list-item.main-nav__list-item--active a {
    border-bottom: 2px solid #505050;
  }

  .main-nav__toggler {
    display: none;
  }

  .main-nav--closed .main-nav__list {
    display: block;
  }

  .main-nav__layout {
    display: flex;
    justify-content: space-between;
  }

  .main-nav .main-nav__list {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    border: none;
  }

  .main-nav__list-item a {
  display: inline-block;
  width: auto;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #505050;
  padding-top: 10px;
  padding-bottom: 10px; 
  margin-left: 25px;
  border: none;
  }

  .foto-main img {
    width: 200px;
    height: 140px;
  }

  .foto-main .dasha {
    width: 220px;
    height: 220px;
  }

  .video {
    justify-content: space-around;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    padding: 0 15px;
  }

  .main iframe {
    height: 700px;
  }

  .foto-main img {
    width: 300px;
    height: 200px;
  }

  .foto-main .dasha {
    width: 320px;
    height: 320px;
  }
}

#page {
  margin: 0 auto;
  width: 100%;
  clear: both;
}

@media all and (max-width: 800px) {
  #page { width: 100%; }
}

.scrollup{
  width:40px;
  height:40px;
  opacity:0.3;
  position:fixed;
  bottom:35px;
  right:35px;
  display:none;
  text-indent:-9999px;
  background: url('../img/icon_top.png') no-repeat;
}