body {
	font-family: 'PT Sans Narrow', sans-serif;
	padding: 0;
	margin: 0;
}

div,
p {
	padding: 0;
	margin: 0;
}

a {
	color: black;
	text-decoration: none;
}

a:hover,
button:hover {
	opacity: 0.7;
}

.inner-header {
	position: relative;
	height: 50px;
	padding-top: 20px;
	margin-bottom: 50px;

	box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
}

.container {
	width: 1370px;
	padding: 0 15px;
	margin: 0 auto;
}

.header-layout {
	position: relative;
	display: flex;
	align-items: center;
}

.logo {
	margin-right: 70px;
}

.main-nav__toggler {
	display: none;
}

.main-nav__item {
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 700;
	color: #9297a3;
	margin-right: 55px;
}

.main-nav__item:last-child {
	margin-right: 730px;
} 

.main-nav__item.active {
	color: #333743;
}

.bag {
	margin-right: 66px;

	font-size: 13px;
	font-weight: 700;
	color: #333743;
}

.bag::after {
	position: absolute;
	top: -20px;
	right: 150px;

	content: "";
	width: 1px;
	height: 70px;
	background-color: #dedede;

}

.num {
	display: inline-block;
	vertical-align: top;

	width: 15px;
	height: 15px;
	border-radius: 50%;

	margin-left: 13px;

	font-family: "Georgia";
	font-size: 11px;
	line-height: 12px;
	font-weight: 400;
	color: #fff;
	text-align: center;

	background-color: #333743;
}

.user-block {
	position: relative;
	font-size: 13px;
	font-weight: 700;
}

.user-block::after {
	position: absolute;
	top: 3px;
	right: 50px;

	content: "";
	width: 1px;
	height: 11px;
	background-color: #000;

}

.login {
	color: #333743;
	margin-right: 35px;
}

.sing-up {
	color: #9297a3;
}

.container-main {
	width: 1210px;
	padding: 0 95px;
	margin: 0 auto;
}

.catalog__item {
	display: flex;

	margin-bottom: 115px;
}

.product {
	display: flex;
	justify-content: space-between;

	width: 550px;
	margin-right: 90px;
}

.product__second img {
	margin-bottom: 12px;
}

.descr {
	width: 500px;
	text-align: center;
}

.bread-crumbs {
	list-style: none;

	margin: 0;
	padding: 0;
	margin-top: 10px;
	margin-bottom: 12px;

	line-height: 14px;
}

.bread-crumbs li {
	position: relative;

	display: inline-block;
	vertical-align: top;
	line-height: 14px;
}

.bread-crumbs li::after {
	position: absolute;
	top: -1px;
	right: 1px;
	content: ">";
	color: #9fcede;
}

.bread-crumbs li:last-child::after {
	display: none;
}

.men::before {
	position: absolute;
	top: 0;
	left: -18px;

	content: "";

	width: 12px;
	height: 12px;

	background-image: url("img/man-icon.png");
}

.bread-crumbs a {
	vertical-align: top;
	margin-right: 14px;

	font-family: "Georgia";
	font-size: 12px;
	color: #9fcede;
}

.product-name {
	width: 290px;
	margin: 0 auto;
	margin-bottom: 60px;

	font-size: 24px;
	color: #303032;
	text-transform: uppercase;
}

.price {
	margin-bottom: 60px;

	font-family: "Georgia";
	font-size: 22px;
	color: #303032;
}

.descr h3 {
	padding-bottom: 6px;
	margin-bottom: 22px;

	font-size: 13px;
	color: #333743;
	border-bottom: 1px solid #dbdee5;
}

.product-descr {
	font-family: "Georgia";
	font-size: 12px;
	color: #9297a3;
}

.colors {
	width: 150px;

	margin-top: 70px;
	margin-bottom: 95px;

	text-align: left;
}

.colors__title {
	font-size: 13px;
	line-height: 25px;
	font-weight: 700;
	color: #333743;

	padding-left: 5px;

	border-bottom: 1px solid #dbdee5;
}

.colors__blue,
.colors__black {
	position: relative;
	padding-left: 20px;
	
	font-family: "Georgia";
	font-size: 13px;
	line-height: 25px;
	color: #9297a3;
}

.colors__blue::before,
.colors__black::before {
	position: absolute;
	top: 7px;
	left: 0;

	content: "";

	width: 10px;
	height: 10px;
}

.colors__blue::before {
	background-color: #9fcede;
}

.colors__black::before {
	background-color: #333743;
}

.btn {
	display: block;
	padding: 15px 0;
	color: #fff;
	background-color: #afa394;
	border-radius: 5px;
}

.more-products__title {
	text-align: center;
}

.more-products__title span:first-child {
	display: block;
	font-family: "Georgia";
	font-size: 11px;
	line-height: 16px;
	font-weight: 400;
	color: #9297a3;
}

.more-products__title span:last-child {
	display: block;
	font-size: 16px;
	font-weight: 700;
	color: #333743;
	text-transform: uppercase;

	margin-bottom: 15px;
}

.more-products__items {
	display: flex;
	justify-content: space-between;
}

.more-products__item img {
	margin-bottom: 10px;
}

.more-products__item p:last-child {
	font-family: "Georgia";
	font-size: 11px;
	line-height: 16px;
	color: #9297a3;
}

.more-products__item-name {
	display: flex;
	justify-content: space-between;
}

.more-products__item-name span:last-child {
	font-family: "Georgia";
	font-size: 13px;
	color: #9297a3;
}

.more-products__item-name span:first-child {
	font-size: 16px;
	font-weight: 700;
	color: #333743;
	text-transform: uppercase;
}

main {
	margin-bottom: 35px;
}

@media (max-width: 1200px) {

	.container {
		width: 1180px;
		padding: 0 10px;
	}

	.container-main {
		width: 1180px;
		padding: 0 10px;
	}

	.main-nav__item:last-child {
	margin-right: 530px;
	}

}

@media (max-width: 1024px) {

	.container {
		width: 960px;
		padding: 0 10px;
	}

	.container-main {
		width: 960px;
		padding: 0 10px;
	}

	.main-nav__item:last-child {
	margin-right: 310px;
	}

	.product {
	margin-right: 60px;
	}

	.descr {
		width: 350px;
	}

	.more-products__items {
		flex-wrap: wrap;
		justify-content: center;
	}

	.more-products__item {
		margin-right: 20px;
	}


}

@media (max-width: 768px) {

	.container {
		width: 750px;
		padding: 0 9px;
	}

	.container-main {
		width: 750px;
		padding: 0 9px;
	}

	.main-nav__item {
		margin-right: 20px;
	}

	.main-nav__item:last-child {
	margin-right: 205px;
}

	.main-nav__toggler {
  position: absolute;
  top: 0;
  left: 60px;
  height: 30px;
  width: 30px;
  padding: 0;
  font-size: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.main-nav__toggler::after {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  right: 0;
  width: 30px;
  height: 3px;
  background-color: #505050;
  border-radius: 1px;
  box-shadow: 0 6px 0 0 #505050,
              0 12px 0 0 #505050;
}

	.catalog__item {
		flex-wrap: wrap;
	}

	.product {
		flex-direction: column-reverse;
		width: auto;

		margin: 0 auto;
	}

	.descr {
		margin: 0 auto;
	}

	.bread-crumbs {
		margin-bottom: 8px;
	}

	.product-name {
		margin-bottom: 30px;
	}

	.price {
		margin-bottom: 30px;
	}

	.descr h3 {
		margin-bottom: 12px;
	}

	.colors {
		margin-top: 30px;
		margin-bottom: 45px;
	}
	

}

@media (max-width: 767px) {



	.main-nav__toggler {
		display: block;
	}

	.main-nav {
		position: absolute;
		top: 50px;
		width: 90%;
		display: none;
	}

	.main-nav.active {
		display: block;
	}

	.main-nav__item {
		display: block;
    width: 140px;
    text-align: center;
    margin-right: 0;
    padding: 7px 0;
    background-color: white;
    border: 1px solid;
	}

	.main-nav__item:last-child {
		margin-right: 0;
	}

	.container {
		width: 300px;
		padding: 0 9px;
	}

	.container-main {
		width: 300px;
		padding: 0 9px;
	}

	.product {
		width: 300px;
	}

	.descr {
		width: 300px;
	}

	.product-name {
		width: 300px;
	}

	.product__main img {
		width: 300px;
		height: 400px;
	}

	.logo {
		margin-right: 100px;
	}

	.bag {
		margin-right: 30px;
	}

	.bag::after {
		right: 128px;
	}

	.main-nav__toggler {
		left: 64px;
	}
}

