body {
	padding: 0;
	margin: 0;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #283136;
	font-weight: Regular;
	background: #ffffff;
	
}

.conteiner {
	width: 1160px;
	padding: 0 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.main-header {
	padding: 0;
	min-width: 1440px;
	padding-top: 50px;
	margin-bottom: 80px;
	background-color: #eeeeee;
}

.main-nav {
	width: 960px;
	float: left;
	margin-right: 40px;
}

.main-logo {
	width: 160px;
	height: 65px;
	float: left;
	margin-right: 200px;
	margin-left: 0;
}

.main-logo:hover {
	opacity: 0.8;
}

.main-logo:active {
	opacity: 0.3;
}

.main-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	
}

.main-nav li {
	display: inline-block;
	vertical-align: top;
}

.main-nav a,
.basket a {
	display: inline-block;
	vertical-align: top;
	
	margin-right: 48px;
	margin-top: 30px;
	
	font-size: 16px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	text-decoration: none;
}

.main-nav .active {
	position: relative;
}

.main-nav .active::after,
.basket .active::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: -10px;
	
	height: 2px;
	
	background-color: #fb565a;
}

.main-nav a:hover,
.basket a:hover {
	color: #fb565a;
}

.main-nav a:active,
.basket a:active {
	opacity: 0.3;
	color: black;
}



.main-logo .logo {
	padding: 0;
	margin: 0;
}

.basket {
	max-width: 160px;
	float: right;
	margin-left: 0;
}

.basket a {
	position: relative;
	padding-left: 40px;
	margin-right: 0;
}

.basket a::before {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	top: 7px;
	left: 0;
	background: url("../img/sprites.png") no-repeat;
	background-position: 0px -281px;
	opacity: 0.3;
}

.slider {
	position: relative;
	
	height: 435px;
	width: 1160px;
	
	padding: 0;
	margin: 0 auto;
	

}

.slides {
	margin: 0;
	padding: 0;
}

.slider-controls {
	position: absolute;
	bottom: 95px;
	left: 50%;
	width: 200px;
	height: 10px;
	margin-left: -100px;
	text-align: center;
	z-index: 100;
}

.slider-controls b {
	display: inline-table;
	vertical-align: top;
	width: 7px;
	height: 7px;
	margin: 0 8px;
	background: white;
	border: 6px solid white;
	border-radius: 50%;
	cursor: pointer;
}

.slider-controls .active {
	background: #c1c1c1;
}

.slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.slide p {
	width: 560px;
	margin: 0;
	margin-bottom: 40px;
}

.slide .slide1-name {
	padding-top: 80px;
	margin: 0;
	font-size: 55px;
	line-height: 55px;
	font-weight: bold;
	margin-bottom: 25px;
	color: black;
}

.slide .header-btn {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	margin-bottom: 180px;
	padding: 15px 50px;
}

.slide:nth-child(1) {
	background: #eeeeee url("../img/slide1.png") no-repeat right 30px bottom 0;
}

.slide:nth-child(2) {
	background: #eeeeee url("../img/slide2.png") no-repeat right 0 bottom 0;
}

.slide:nth-child(3) {
	background: #eeeeee url("../img/slide3.png") no-repeat right 0 bottom 0;
}

.slide {
	display: none;
}

.slide:nth-child(3) {
	display: block;
}

.btn {
	background-color: #fb565a;
	border: none;
	border-radius: 2px;
	cursor: pointer;
	color: #ffffff;
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
	font-family: "Roboto", "Arial", sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	
	padding: 15px 40px;
}

.header-btn:hover {
	background-color: #e74246;
}

.header-btn:active {
	background-color: #d7373b;
	color: #e48789;
}

.main-index {
	min-width: 1440px;
	padding: 0;
}

.store-devices-column {
	position: relative;
	width: 300px;
	min-height: 380px;
	float: left;
	margin-right: 100px;
	padding-top: 0;
	margin-bottom: 80px;
}

.store-devices-column:last-child {
	margin-right: 60px;
}

.store-devices img {
	margin-bottom: 25px;
}

.store-devices h2 {
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 25px;
	text-transform: uppercase;
	font-weight: bold;
	color: black;
}

.store-devices p {
	padding-bottom: 10px;
	width: 240px;
}

.btn-web-sites {
	position: absolute;
	left: 0;
	bottom: 0;
}

.web-sites .btn-web-sites:hover {
	background-color: #e74246;
}

.web-sites .btn-web-sites:active {
	background-color: #d7373b;
	color: #e48789;
}

.applications .btn-web-sites {
	background-color: #00ca74;
}

.applications .btn-web-sites:hover {
	background-color: #00bc6c;
}

.applications .btn-web-sites:active {
	background-color: #00aa62;
	color: #74c69c;
}

.presentations .btn-web-sites {
	background-color: #efc84a;
}

.presentations .btn-web-sites:hover {
	background-color: #eab534;
}

.presentations .btn-web-sites:active {
	background-color: #e5a722;
	color: #edc47f;
}

.store-devices {
	margin-bottom: 40px;
	border-bottom: 2px solid #eeeeee;
}

.advantages-1 {
	width: 660px;
	float: left;
	padding-top: 35px;
}

.advantages-1 p {
	margin-bottom: 45px;
}

.advantages-1-name {
	font-size: 45px;
	line-height: 45px;
	font-weight: bold;
	margin-bottom: 40px;
	color: black;
}

.advantages-1-name2 {
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	margin-bottom: 30px;
	color: black;
	text-transform: uppercase;
}

.advantages-1 ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.advantages-1 li {
	position:relative;
	vertical-align: top;
	padding-left: 35px;
}

.advantages-1 li::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 50%;
	width: 25px;
	height: 2px;
	margin-bottom: -1px;
	background-color: #fb565a;
}

.advantages-2 {
	width: 360px;
	float: right
}

.advantages-2 b {
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: bold;
}

.advantages-2-name {
	text-align: center;
	margin-bottom: 50px;
}

.logo-happy {
	margin-bottom: 40px;
}

.advantages-2 ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.advantages-2 li {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 18px;
	width: 100px;
	padding-right: 20px;
}

.advantages-2 .number {
	font-size: 45px;
	line-height: 45px;
	font-weight: bold;
}

.advantages-2 .percent {
	font-size: 25px;
	line-height: 25px;
	font-weight: bold;
	vertical-align: top;
}

.partners {
	clear: both;
	border-bottom: 2px solid #eeeeee;
	border-top: 2px solid #eeeeee;
	min-height: 180px;
	margin-bottom: 80px;
}

.partners ul {
	font-size: 0;
	list-style: none;
	padding: 0;
	margin: 0;
	padding-top: 45px;
}

.partners li {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	padding: 0;
}

.partners li::after {
	content: "";
	position: absolute;
	width: 2px;
	height: 52px;
	top: 50%;
	right: 30px;
	margin-top: -26px;
	background: #eeeeee;
}

.partners li:last-child::after {
	display: none;
}

.partners a {
	display: block;
	margin-left: 30px;
	margin-right: 90px;
	padding: 0;

}

.partners img {
	margin: 0;
	padding: 0;
	opacity: 0.2;
}

.partners img:hover {
	opacity: 1;
}

.partners img:active {
	opacity: 0.1;
}

.partners li:last-child a {
	margin-right: 0;
}

.main-footer {
	position: relative;
	background: url("../img/map-marker.png") no-repeat left 66% top 95px,
				#ffffff url("../img/map.png") no-repeat top;
	min-width: 1440px;
	min-height: 420px;
}
.main-footer .conteiner-map {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -720px;
	width: 1440px;
}


.main-footer .conteiner-nerds-contacts {
	position: relative;
	width: 320px;
}	

.main-footer .nerds-contacts {
	position: relative;
	left: 0;
	top: 55px;
	background-color: #ffffff;
	padding: 50px;
	display: inline-block;
	vertical-align: top;
}

.main-footer .nerds-contacts h3 {
	color: black;
	font-weight: 700;
}

.main-footer .nerds-contacts p {
	font-size: 16px;
	line-height: 18px;
	color: #666666;
	margin-bottom: 35px;
}

.nerds-contacts .btn-write-us:hover {
	background-color: #e74246;
}

.nerds-contacts .btn-write-us:active {
	background-color: #d7373b;
	color: #e48789;
}

.main-footer .footer-social {
	margin-top: 175px;
	margin-bottom: 60px;
	font-size: 0;
}

.main-footer .footer-social p {
	color: #444444;
}

.main-footer .footer-social p strong {
	color: black;
}

.main-footer .social-btn {
	display: inline-block;
	vertical-align: top;
	margin-right: 12px;
	font-size: 0;
	width: 78px;
	height: 78px;
	border-radius: 50%;
	background: #e1e1e1 url("../img/sprites.png") no-repeat;
}

.footer-social .btn-inst {
	background-position: 28px -42px; 
}

.footer-social .btn-inst:hover {
	background-color: #e74246;
}

.footer-social .btn-inst:active {
	background-position: 28px -506px;
	background-color: #e74246;
}

.footer-social .btn-fb {
	background-position: 33px 28px; 
}

.footer-social .btn-fb:hover {
	background-color: #e74246;
}

.footer-social .btn-fb:active {
	background-position: 33px -435px;
	background-color: #e74246;
}

.footer-social .btn-vk {
	background-position: 26px -110px; 
}

.footer-social .btn-vk:hover {
	background-color: #e74246;
}

.footer-social .btn-vk:active {
	background-position: 26px -573px;
	background-color: #e74246;
}

.friends {
	display: inline-block;
	vertical-align: top;
	width: 660px;
	margin-left: 140px;
}

.friends p {
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
	margin: 10px 0;
	padding: 0;
}

.friends p strong {
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
}

.modal-content {
	display: none;
	position: fixed;
	left: 50%;
	bottom: 180px;
	margin-left: -380px;
	
	width: 760px;
	padding: 75px 100px 80px;
	background-color: white;
	box-shadow: 0 30px 50px rgba(0,0,0,0.7);
}

.modal-content-show {
	display: block;
}

.inner-page .modal-content h2 {
	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
	color: black;
	margin: 0;
	margin-bottom: 50px;
}

.modal-content p {
	float: left;
	width: 360px;
	margin: 0;
	margin-bottom: 35px;
	
}

.modal-content form p:first-child {
	margin-right: 40px;
}

.modal-content label {
	font-size: 16px;
	color: black;
}

.modal-content input {
	width: 326px;
	padding: 15px;
	margin-top: 10px;
	border: 2px solid #d7dcde;
	font: inherit;
	color: #444444;
	outline: none;
}

.modal-content textarea {
	width: 726px;
	height: 86px;
	padding: 15px;
	margin-top: 10px;
	border: 2px solid #d7dcde;
	font: inherit;
	color: #444444;
	outline: none;
}

.modal-content input:hover,
.modal-content textarea:hover {
	border: 2px solid #b4b9bb;
}

.modal-content input:focus,
.modal-content textarea:focus {
	border: 2px solid #000000;
	color: #000000;
}

.modal-content .btn-form {
	margin-top: 45px;
	outline: none;
}

.modal-content .btn-form:hover {
	background-color: #e74246;
}

.modal-content .btn-form:active {
	background-color: #d7373b;
	color: #e48789;
}

.modal-content-close {
	position: absolute;
	top: 75px;
	right: 75px;
	
	width: 29px;
	height: 29px;
	
	font-size: 0;
	
	cursor: pointer;
	border: 0;
	background-color: transparent;
	outline: none;
	opacity: 0.3;
}

.modal-content-close::before,
.modal-content-close::after {
	content: "";
	position: absolute;
	top: 0px;
	left: 2px;
	
	width: 5px;
	height: 26px;
	
	background-color: #fb565a;
	border-radius: 1px;
	
}

.modal-content-close::before {
	transform: rotate(45deg);
}

.modal-content-close::after {
	transform: rotate(-45deg);
}

.modal-content-close:hover,
.modal-content-close:hover {
	opacity: 1;
}
	
.modal-content-close:active,
.modal-content-close:active {
	opacity: 0.1;
}
.inner-page .main-header {
	padding-bottom: 115px;
}

.inner-page h1 {
	font-size: 55px;
	line-height: 55px;
	font-weight: 700;
	color: black;
	padding: 0;
	margin-top: 85px;
	text-align: center;
}

.inner-page h2 {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: black;
	padding: 0;
	margin: 60px 0 20px;
}

.inner-page .content-right *:first-child,
.inner-page .content-left-form form *:first-child {
	margin-top: 0;
}

.inner-page .content-left-form,
.inner-page .content-right {
	float: left;
}

.inner-page .content-left-form {
	width: 260px;
	margin-right: 140px;
}

.inner-page .content-right {
	width: 760px;
}

.inner-page .content-right h2 {
	display: inline-block;
	float: left;
	vertical-align: top;
	width: 260px;
}

.content-right .sort {
	position: relative;
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
	width: 360px;
	font-size: 0;
}

.sort .down-sort,
.sort .up-sort {
	content: "";
    position: absolute;
	bottom: 12px;
	
    width: 10px;
    height: 10px;
	
	font-size: 0;
	cursor: pointer;
	background: url("../img/sprites.png") no-repeat;
}

.sort .down-sort {
	background-position: 1px -346px;
	right: 4px;
}

.sort .up-sort {
	background-position: 0px -405px;
	right: -26px;
}



.sort li {
	display: inline-block;
	vertical-align: top;
}

.sort a {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
	color: black;
	opacity: 0.3;
	margin-right: 27px;
}

.sort a:hover {
	opacity: 0.6;
}

.sort a:active {
	opacity: 1;
}

.sort .active {
	opacity: 1;
}

.ready-templates {
	position: relative;
	float: left;
	margin-right: 40px;
	margin-bottom: 40px;
}

.ready-templates:nth-child(2n) {
	margin-right: 0;
}

.ready-templates img {
	vertical-align: top;
	outline: 2px solid #e5e5e5;
	outline-offset: -2px;
	margin: 0;
}

.ready-templates-header {
	height: 14px;
	width: 328px;
	margin: 0;
	padding: 13px 16px;
	font-size: 0;
	background-color: #4d4d4d;
	opacity: 0.12;
	border-radius:	2px 2px 0 0;
}

.white-circle {
	display: inline-block;
	vertical-align: top;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background-color: white;
	margin-right: 9px;
}

.ready-templates-price {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 360px;
	min-height: 205px;
	padding: 0;
	padding-top: 25px;
	background-color: #eeeeee;
}

.inner-page .ready-templates-price h2 {
	color: black;
	width: 100%;
	text-transform: uppercase;
	text-align: center;
	padding: 0;
	margin-bottom: 15px;
}

.ready-templates-price .btn-templates {
	font-size: 16px;
	line-height: 18px;
	padding: 15px 60px;
	opacity: 1;
	color: white;
	margin: 0;
}

.ready-templates-price .btn-templates:hover {
	background-color: #e74246;
}

.ready-templates-price .btn-templates:active {
	background-color: #d7373b;
	border-top: #c13135;
}

.ready-templates-price p {
	font-size: 16px;
	line-height: 18px;
	color: #666666;
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
	margin-bottom: 25px;
}

.ready-templates-price p:last-child {
	margin-bottom: 44px;
}

.ready-templates>.ready-templates-price {
	display: none;
}

.ready-templates:hover>.ready-templates-price {
	display: block;
}

.ready-templates:hover>.ready-templates-header {
	opacity: 1;
}

.ready-templates:hover>img {
	outline: none;
}

.ready-templates:hover {
	box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

.site-sorting-pages {
	margin-top: 25px;
	margin-bottom: 60px;
	font-size: 0;
}

.site-sorting-pages a {
	display: inline-block;
	vertical-align: top;
	width: 44px;
	height: 14px;
	padding: 15px 0;
	font-size: 16px;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	font-weight: bold;
	margin-right: 11px;
	border: 3px solid #eeeeee;
	border-radius: 2px;
	background-color: #eeeeee;
	opacity: 1;
	text-align: center;
	cursor: pointer;
	
}

.site-sorting-pages a:hover {
	background-color: #dfdfdf;
	border: 3px solid #dfdfdf;
}

.site-sorting-pages a:active {
	background-color: #d5d5d5;
	color: #a9a9a9;
	border: 3px solid #d5d5d5;
	border-top: 3px solid #bfbfbf;
}

.site-sorting-pages .btn-next {
	width: 260px;
	background-color: #eeeeee;
	color: black;
}

.site-sorting-pages .btn-next:hover {
	background-color: #dfdfdf;
	border: 3px solid #dfdfdf;
}

.site-sorting-pages .btn-next:active {
	background-color: #d5d5d5;
	color: #a9a9a9;
	border: 3px solid #d5d5d5;
	border-top: 3px solid #bfbfbf;
}

.site-sorting-pages .active {
	border: 3px solid #dbdbdb;
	background-color: #ffffff;
}

.site-sorting-pages .active:hover {
	border: 3px solid #dbdbdb;
	background-color: #ffffff;
}

.site-sorting-pages .active:active {
	border: 3px solid #dbdbdb;
	background-color: #ffffff;
	color: black;
}

.range-filter {
	width: 260px;
	margin: 0;
}

.range-controls {
	position: relative;
	height: 80px;
	padding: 0 20px;
	margin-bottom: 15px;
	background-color: #eeeeee;
	border-radius: 2px;
	overflow: hidden;
}

.range-controls .scale {
	position: absolute;
	top: 39px;
	left: 20px;
	height: 2px;
	width: 220px;
	background-color: #d7dcde;
}

.range-controls .bar {
	height: 2px;
	background-color: #00ca74;
}

.range-controls .toggle {
	position: absolute;
	top: 30px;
	left: 20px;
	
	width: 4px;
	height: 4px;
	background-color: #ababab;
	
	cursor: pointer;
	border: 8px solid white;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .max-toggle {
	left: 160px;
}

.price-controls {
	white-space: nowrap;
	text-transform: uppercase;
}

.price-controls input {
	width: 60px;
	padding: 10px;
	background-color: #eeeeee;
	border: none;
	border-radius: 2px;
	margin-left: 12px;
	margin-right: 30px;
	text-align: center;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #283136;
	font-weight: Regular;
	
}

.price-controls input:last-child {
	margin-right: 0;
}

.grid-radio-btn,
.features-checkbox {
	position: relative;

	padding-left: 35px;
	
	cursor: pointer;	
}



.grid-radio-btn input[type="radio"] {
	display: none;
}

.grid-radio-btn input[type="radio"] + .radio-indicator {
	position: absolute;
	top: -4px;
	left: 0;
	
	width: 19px;
	height: 19px;
	opacity: 0.4;
	border: 3px solid #4d4d4d;
	border-radius: 50%;
}

.grid-radio-btn:hover > input[type="radio"] + .radio-indicator {
	opacity: 1;
}

.grid-radio-btn input[type="radio"]:checked + .radio-indicator::before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	
	width: 9px;
	height: 9px;
	border-radius: 50%;
	
	background-color: #4d4d4d;
}

.features-checkbox input[type="checkbox"] {
	display: none;
}

.features-checkbox input[type="checkbox"] + .checkbox-indicator {
	position: absolute;
	top: -4px;
	left: 0;
	
	width: 19px;
	height: 19px;
	
	border: 2px solid #4d4d4d;
	border-radius: 4px;
	opacity: 0.4;
}

.features-checkbox:hover > input[type="checkbox"] + .checkbox-indicator {
	opacity: 1;
}

.features-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
	content: "";
	position: absolute;
	top: -2px;
	left: -2px;
	
	width: 28px;
	height: 25px;
	
	background: url("../img/sprites.png") no-repeat;
	background-position: 0px -208px;
}

.features-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
	border: none;
	top: -2px;
	left: 2px;
}

.inner-page .btn-form-store {
	padding: 15px 90px;
	background-color: #eeeeee;
	border: 3px solid #eeeeee;
	color: black;
	outline: none;
	margin-top: 50px;
}

.inner-page .btn-form-store:hover {
	background-color: #dfdfdf;
	border: 3px solid #dfdfdf;
}

.inner-page .btn-form-store:active {
	background-color: #d5d5d5;
	color: #a9a9a9;
	border: 3px solid #d5d5d5;
	border-top: 3px solid #bfbfbf;
}
