@font-face {
	font-family: "Trebuchet MS";
	src: url("fonts/Trebuchet MS.ttf");
}

body {
	font-family: "Arial";
	margin: 0;
}

div, p {
	margin: 0;
	padding: 0;
}

.container {
	width: 1040px;

	margin: 0 auto;
}

.header-top {
	height: 55px;
	padding: 25px 0 25px;

	color: #fff;
	background-color: #00bff3;
}

.layout {
	display: flex;
}

.logo {
	margin-right: 12px;
	cursor: pointer;
}

.desc-logo {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;

	margin-right: 180px;

	font-size: 16px;
	line-height: 20px;
}

.call {
	display: flex;
	align-items: center;
}

.tel {
	font-size: 30px;
	margin-right: 30px;
}

.callback {
	font-size: 16px;
	line-height: 20px;
	margin-right: 70px;
	cursor: pointer;
}

.social-link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 113px
}

.social-link a {
	width: 31px;
	height: 31px;
}

.facebook {
	background-image: url("img/sprite.png");
	background-repeat: no-repeat;
	background-position: -20px 0;
}

.google {
	background-image: url("img/sprite.png");
	background-repeat: no-repeat;
	background-position: -20px -102px;
}

.instagram {
	background-image: url("img/sprite.png");
	background-repeat: no-repeat;
	background-position: -20px -204px;
}

.realitive {
	position: relative;
}

.first-screen {
	margin-bottom: 30px;
}

.tur-bolgary {
	position: absolute;
	top: 275px;
	left: 30px;

	width: 140px;
	height: 155px;
	padding: 35px 45px 40px;

	background-color: rgba(255,242,0,0.7);
	border-radius: 50%;
}

.tur-bolgary p {
	font-family: "Trebuchet MS";
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

.tur-bolgary p:first-child {
	font-size: 25px;
	margin-bottom: 20px;
}


.tur-bolgary p:last-child {
	width: 110px;
	margin: 0 auto;
	margin-top: 5px;

	font-size: 24px;
	color: #fff;
	background-color: #000;
}

.hotel-name {
	display: flex;

	margin-bottom: 20px;
}

.aquamarine {
	margin-right: 35px;
	border-bottom: 1px solid #7f7f7f;
}

.aquamarine,
.price {
	font-family: "Trebuchet MS";
	font-size: 35px;
	font-weight: bold;
}

.star {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 96px;

	margin-right: 30px;
}

.star span {

	width: 30px;
	height: 28px;

	background-image: url("img/sprite.png");
	background-repeat: no-repeat;
	background-position: -20px -306px;

}

.rating {
	display: flex;
	align-items: center;

	margin-bottom: 35px;
}

.grey {
	color: #777777;
}

.upper {
	text-transform: uppercase;
}

.rating-hotel {
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;

	margin-right: 32px;
}

.rating-hotel p:last-child {
	color: #777777;
}

.end-rating {
	width: 52px;
	height: 52px;

	margin-right: 28px;
	
	font-family: "Trebuchet MS";
	font-size: 24px;
	line-height: 52px;
  text-align: center;
	color: #fff;

	background-color: #00bff3;
	border-radius: 2px;
}

.rating-all {
	font-weight: bold;

	margin-right: 20px;
}

.rating-all p:first-child {
	font-size: 12px;
}

.rating-all p:last-child {
	font-size: 18px;
}

.sun-days {
	position: absolute;
	top: 510px;
	right: 90px;

	width: 160px;

}

.sun-days p:first-child {
	font-family: "Trebuchet MS";
	font-size: 100px;
}

.sun-days p:last-child {
	font-size: 30px;
	line-height: 32px;
}

.advantages {
	display: flex;
	justify-content: space-between;
}

.advantages-title {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	margin-bottom: 10px;

	font-family: "Trebuchet MS";
	font-size: 30px;
	font-weight: bold;
}

.advantages-title span:last-child {
	font-size: 50px;
}

.advantages-title span:first-child {
	border-bottom: 1px solid #cccccc;
}

.advantages-descr {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	font-family: "Arial";
	font-size: 14px;
	line-height: 18px;
	color: #777777;
}

.jumping .advantages-title {
	margin-bottom: -2px;
}

.advantages-descr span:last-child {
	position: relative;
	font-family: "Trebuchet MS";
	font-size: 20px;
	line-height: 30px;
	font-weight: bold;
}

.advantages-descr span:last-child::after {
	position: absolute;
	top: 14px;
	left: -5px;
	content: "";

	width: 41px;
	height: 1px;

	background-color: #ff0000;

}

.interesting h2 {
	font-family: "Trebuchet MS";
	font-size: 50px;
	line-height: 56px;
	font-weight: bold;
}

.interesting h3 {
	width: 770px;
}

.interesting p {
	width: 770px;
	margin-bottom: 20px;

	font-size: 14px;
	line-height: 20px;
}

.interesting .interesting-title {
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
}

.interesting h3:nth-child(4) {
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 10px;
}

.interesting h3:nth-child(8) {
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;

	margin: 0;
}

.interesting p:nth-child(10) {
	margin-bottom: 5px;
}

.interesting .answer {
	width: 712px;
	padding: 15px 20px 20px 10px;
	margin-left: 25px;

	border-left: 3px solid #33ccf5;
	background-color: rgba(0,191,243,0.06);
}

.whr {
	position: absolute;
	top: 340px;
	right: 0;

	width: 210px;
}

.whr p {
	width: 210px;
	margin-bottom: 10px;
	
	font-family: "Trebuchet MS";
}

.whr p:first-child {
	margin-bottom: 0;
	font-size: 100px;
	line-height: 100px;
	font-weight: 300;
	color: #777777;
}

.whr p:nth-child(2) {
	font-size: 30px;
	line-height: 32px;
	font-weight: 300;
}

.whr p:last-child {
	font-size: 20px;
	line-height: 24px;
	font-weight: 300;
	color: #777777;
}

.table {
	border-collapse: collapse;
	margin-bottom: 20px;

}

.table tr {
	border-bottom: 1px solid #ebebeb;
}

.table td {
	padding: 10px 20px;
	font-size: 14px;
}

.table tr:first-child {
	font-weight: 700;
	background-color: #ebebeb;
	border-bottom: 1px solid #777777;
}

.table tr:first-child td {
	font-size: 12px;
}

.table tr td:first-child {
	font-size: 12px;
	font-weight: 700;
}

.table tr:last-child {
	border-bottom: none;
}

.table sub {
	font-size: 10px;
}

.table td:first-child {
	border-radius: 5px 0 0 0;
}

.table td:last-child {
	border-radius: 0 5px 0 0;
}

.symptoms h3 {
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;

	margin-bottom: 10px;
}

.symptoms p {
	position: relative;
	font-size: 14px;
	line-height: 20px;

	padding-left: 30px;
	margin-bottom: 10px; 
}

.symptoms p:before {
	position: absolute;
	top: 10px;
	left: 10px;
	content: "";

	width: 15px;
	height: 1px;

	background-color: #000;
}

.iam {
	margin-top: 20px;
	margin-bottom: 25px;
	font-size: 18px;
	line-height: 18px;
	color: #ff0000;
}

.iam span {
	display: inline-block;

	width: 40px;
	text-align: center;
	border-bottom: 1px solid #ff0000;
}

.footer {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #777777;
}

.footer p {
	padding: 15px 0;
}

.footer a {
	text-decoration: none;
	color: #00a2ff;
}

.footer .facebook {
	background-position: -20px -51px;
}

.footer .google {
	background-position: -20px -153px;
}

.footer .instagram {
	background-position: -20px -255px;
}

a:hover {
	opacity: 0.7;
}

@media (max-width: 1200px) {

	.container {
  	width: 738px;
 		padding: 0 15px;
  }

  .layout {
  	justify-content: space-between;
  }

  .desc-logo {
  	display: none;
  }

  .call {
  	flex-direction: column;
  }

  .tel {
  	margin: 0 auto;
  }

  .callback {
  	margin: 0 auto;
  }

  .first-screen img {
  	width: 738px;
  	height: 360px;
  }

  .aquamarine {
  	margin-right: 20px;
  }

  .star {
  	margin-right: 20px;
  }

  .sun-days {
  	top: 326px;
  	right: 55px;
  }

  .sun-days p:first-child {
  	font-size: 84px;
  }

  .sun-days p:last-child {
  	font-size: 24px;
  	line-height: 28px;
  }

  .tur-bolgary {
  	top: 105px;
  }

  .rating-hotel {
  	margin-right: 25px;
  }

  .end-rating {
  	margin-right: 20px;
  }

  .rating-all {
  	margin-right: 15px;
  }

  .advantages-title span:first-child {
  	width: 155px;
  }

  .interesting p {
  	width: 500px;
  }

  .advantages img {
  	width: 360px;
  	height: 204px;
  }

  .whr p {
  	width: 210px;
  }

  .interesting .answer {
  	width: 442px
  }

  .table td {
  	padding: 10px 15px;
  }

  .interesting h3 {
  	width: 100%;
  }
}

@media (max-width: 767px){

	.container {
  	width: 300px;
 		padding: 0 10px;
  }

  .header-top {
  	height: 30px;
  }

  .logo {
  	margin-right: 0;
  }

	.logo img {
		width: 90px;
		height: 25px;
	}

	.tel {
		font-size: 14px;
	}

	.callback {
		font-size: 10px;
	}

	.social-link {
		width: 99px;
	}

	.first-screen {
		margin-bottom: 12px;
	}

	.first-screen img {
		width: 300px;
		height: 160px;
	}

	.tur-bolgary {
	position: absolute;
	top: 0;
	left: 10px;

	width: 290px;
	height: 40px;
	padding: 5px;

	background-color: rgba(255,242,0,0.7);
	border-radius: 0;
}

.tur-bolgary br {
	display: none;
}

.tur-bolgary p {
	display: inline-block;
	font-family: "Trebuchet MS";
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	margin-left: 67px;
}

.tur-bolgary p:first-child {
	display: block;
	font-size: 14px;
	margin-bottom: 5px;
	margin-left: 0;
}


.tur-bolgary p:last-child {
	width: 90px;
	margin: 0 auto;
	margin-top: 0;

	font-size: 16px;
	color: #fff;
	background-color: #000;
}

.hotel-name {
	margin-bottom: 10px;
}

.aquamarine {
	margin-right: 35px;
	border-bottom: 1px solid #7f7f7f;
}

.aquamarine,
.price {
	font-size: 15px;
	z-index: 1;
}

.star {
	width: 77px;

	margin-right: 37px;

	z-index: 1;
}

.star span {
	background-position: 0px -104px;
  background-size: cover;

}

.sun-days {

	top: 116px;
	right: 37px;

	width: 70px;
	height: 70px;

	padding: 5px;

	background-color: #fff;
	border-radius: 50%

}

.sun-days p {
	text-align: center;
}

.sun-days p:first-child {

	font-size: 24px;
}

.sun-days p:last-child {
	font-size: 10px;
	line-height: 12px;
	margin: 0;
}

.rating {
	justify-content: space-between;
	flex-wrap: wrap;

	margin-bottom: 35px;
}


.rating-hotel {
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;

	margin-right: 150px;
}

.end-rating {
	width: 40px;
	height: 40px;

	margin-right: 0;
	margin-bottom: 10px;
	
	font-size: 18px;
	line-height: 40px;
}

.rating-all {
	font-weight: bold;

	margin-right: 0;
}

.rating-all p:first-child {
	font-size: 8px;
}

.rating-all p:last-child {
	font-size: 12px;
}

.advantages {
	flex-wrap: wrap;
}

.advantages img {
	width: 300px;
	height: 165px;
}

.advantages-title {
	margin-bottom: 5px;
	font-size: 16px;

}

.advantages-title span:last-child {
	font-size: 22px;
}

.advantages-title span:first-child {
	width: auto;
	margin-bottom: 0;
}

.advantages-descr {
	font-size: 10px;
	line-height: 12px;
}

.jumping {
	margin-top: 15px;
}

.jumping .advantages-title {
	margin-bottom: 1px;
}

.advantages-descr span:last-child {
	font-size: 14px;
	line-height: 16px;
}

.advantages-descr span:last-child::after {
	top: 7px;

	width: 30px;
}

.interesting h2 {
	font-size: 24px;
	line-height: 28px;
}

.interesting .interesting-title {
	font-size: 12px;
	line-height: 14px;
}

.interesting p {
	width: 100%;
	font-size: 12px;
	line-height: 14px;
}

.interesting h3:nth-child(4) {
	font-size: 14px;
	margin-bottom: 5px;
}

.interesting .answer {
	width: 242px;
}

.interesting h3:nth-child(8) {
	font-size: 14px;
	line-height: 16px;
}

.whr {
	display: none;
}

.table {
	display: inline-block;
  vertical-align: top;
  max-width: 100%;
  
  overflow-x: auto;
}

.iam {
	font-size: 16px;
	line-height: 16px;
}

.footer p {
	font-size: 12px;
	line-height: 14px;
}

}